@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Identity
@using AspStudio_Boilerplate.Areas.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var menuController = (ViewContext.RouteData.Values["controller"] != null) ? ViewContext.RouteData.Values["controller"].ToString() : null;
    var menuAction = (ViewContext.RouteData.Values["action"] != null) ? ViewContext.RouteData.Values["action"].ToString() : null;
    var menuArea = (ViewContext.RouteData.Values["area"] != null) ? ViewContext.RouteData.Values["area"].ToString() : null;
    var sidebarMenu = Configuration.GetSection("sidebarMenu").GetChildren().ToArray();

    bool CheckForRoles(List<string> r1, string[] r2)
    {
        return r1.Any(role => r2.Contains(role));
    }

    string CheckForActive(string controller, string view = null, string area = null)
    {
        if (controller != null && view == null && area == null)
        {
            return controller == menuController ? "active" : "";
        } else if (controller != null && view != null && area != null)
        {
           if (menuAction == view && menuController == controller && menuArea == area)
            return "active";
        } else if (controller == menuController && view == menuAction) return "active";

        return "";
    }

}


@if (SignInManager.IsSignedIn(User)) // If they are logged in and the navitem requires roles
{
    var user = await UserManager.GetUserAsync(User);
    var roles = (await UserManager.GetRolesAsync(user)).ToList();


    <!-- BEGIN #sidebar -->
    <div id="sidebar" class="app-sidebar">
        <!-- BEGIN scrollbar -->
        <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
            <!-- BEGIN menu -->
            <div class="menu">

                <div class="menu-header">Navigation</div>
                @if (CheckForRoles(roles, new string[] {"User"}))
                {
                    <div class="menu-item @(CheckForActive("Dashboard", "Index"))">
                    
                        <a asp-controller="Dashboard" asp-action="Index" class="menu-link">
                        
                            <span class="menu-icon">
                                <i class="fab fa-android"></i>
                            </span>
                            <span class="menu-text">Dashboard</span>
                        
                        </a>

                    </div>
                }
                else
                {
                    <div class="menu-item @(CheckForActive("Home"))">
                    
                        <a asp-controller="Home" asp-action="Index" class="menu-link">
                        
                            <span class="menu-icon">
                                <i class="fa fa-home"></i>
                            </span>
                            <span class="menu-text">Home</span>
                        
                        </a>

                    </div>
                }
                
                @if (CheckForRoles(roles, new string[] { "Admin" }))
                {
                    <div class="menu-header">Administration</div>
                    <div class="menu-item @(CheckForActive("Manage", "Index", "Users"))">
                    
                        <a asp-area="Users" asp-controller="Manage" asp-action="Index" class="menu-link">
                        
                            <span class="menu-icon">
                                <i class="fa fa-users-cog"></i>
                            </span>
                            <span class="menu-text">Manage Users</span>
                        
                        </a>

                    </div>
                }

                <!-- END menu -->
            </div>
            <!-- END scrollbar -->
            <!-- BEGIN mobile-sidebar-backdrop -->
            <button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
            <!-- END mobile-sidebar-backdrop -->
        </div>
    </div>
}

<!-- END #sidebar -->