@{
    ViewData["Title"] = "Starter Page";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
</ul>

<div>
    <h1 class="text-center">Welcome to AspStudio-Boilerplate</h1>
    <h2 class="text-center">Click the button below to get started and login!</h2>
    <a type="button" class="btn btn-primary btn-lg" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a>
</div>